{% extends "base.html" %}

<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            ОРМ запросы - {{ block.super }}
        {% endblock %}
    </head>
<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        {% for course in courses %}
            <input type="checkbox" name="courses" value="{{ course.id }}" /> {{ course.title }}<br />
        {% endfor %}
        <br />
        <button type="submit">Выбрать</button>
    </form>
    <h3>Все студенты курса {% for course in course %}{{ course.title }} {% endfor %}:</h3>
    <ul>
        {% for student in students %}
            <li>{{ student.first_name }} {{ student.last_name }}</li>
        {% empty %}
            <li>Студенты не найдены</li>
        {% endfor %}
    </ul>
    <br />
    <form method="post">
        {% csrf_token %}
        <p>Предподаватели с более <input type="text" name="number" /> курсов</p>
        <ul>
            {% for teacher in teachers %}
                <li>{{ teacher.first_name }}</li>
            {% empty %}
                <li>Учителя не найдены</li>
            {% endfor %}
        </ul>
        <button type="submit">Обновить</button>
    </form>
    <p>Студенты без курсов</p>
    <ul>
        {% for students in nc_students %}
            <li>{{ students.first_name }} {{ students.last_name }}</li>
        {% empty %}
            <li>Студенты не найдены</li>
        {% endfor %}
    </ul>

    <p>Учителя без биографии</p>
    <ul>
        {% for teacher in nb_teachers %}
            <li>{{ teacher.first_name }} {{ teacher.last_name }}</li>
        {% empty %}
            <li>Учителя не найдены</li>
        {% endfor %}
    </ul>

    {% endblock %}
</body>